{% extends 'StoreBundle::layout.html.twig' %}

{% block title %}
    SHOPPING-CART Beppe's Pizza Shop
{% endblock %}

{% block content %}
<h1>Beppe's pizza's SHOPPING-CART</h1>

<br><br>
<ul class="">

        <p>{{ image }}</p>
        <p>{{ name }}</p>
        <p>€ {{ price }}</p>

</ul>


<p>{{ name }} zit momenteel in je bestelling!</p>
Wil je nog andere producten nemen?....
<a href="{{ path('product') }}">Neem andere producten</a>

<p>
<a href="{{ path('orderedproduct') }}">Overzicht Bestellingen</a>
</p>
{% endblock %}